ul.colorInput{
    padding: 0;
}

ul.colorInput>li {
    margin: 2px;
    width: 30px;
    height: 30px;
    display: inline-block;
    padding: 0;
    border-radius: 50%;
    position: relative;
}

.radio+label{
    padding: 0;
    width: 30px;
    height: 30px;
    left: 10%;
    position: absolute;
    font-size: 20px;
}
.radio{
    opacity:0;
}
.radio:not(checked)+ label{
    opacity: 0;
}
.radio:checked+ label{
    opacity: 1;
}

button.timer{
    width:50px;
    margin:5px;
    border-radius:28px;
    cursor:pointer;
    color:#ffffff;
    font-size:10px;
    padding:8px 5px;
    text-transform: uppercase;
    text-decoration:none;
}

button.timer.green:hover {
    background-color:#5cbf2a;
}
button.timer:active {
    position:relative;
    top:1px;
}

button,
button:active,
button:focus {
    outline: none;
}
.red{
    background-color: red;
    border:1px solid #c30000;
    text-shadow:0px 1px 0px #6a0000;
}

.green {
    background-color:#44c767;
    border:1px solid #18ab29;
    text-shadow:0px 1px 0px #2f6627;
}
.warning {
  -webkit-animation: blink1 3s linear infinite;
  animation: blink1 3s linear infinite;
}
@-webkit-keyframes blink1 {
  0% { color: rgba(34, 34, 34, 1); }
  50% { color: rgba(34, 34, 34, 0); }
  100% { color: rgba(34, 34, 34, 1); }
}
@keyframes blink1 {
  0% { color: rgba(34, 34, 34, 1); }
  50% { color: rgba(34, 34, 34, 0); }
  100% { color: rgba(34, 34, 34, 1); }
}
.done{
    text-decoration: line-through;
}
.search{
  width: 150px;
  border: none;
  box-shadow: 0px 0px 7px 0px grey;
  border-radius: 5px;
  margin: 10px auto;
}
.search input{
    width: 80%;
    border: none;
    outline:none;
    margin: 5px auto;
    background: inherit;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.doneCheck+label, .doneCheck::after{
    border: 1px solid #252525;
    padding: 0;
    margin: 0;   
    position: absolute;
    font-size: 20px;
    border-radius: 50%;
    left: 0;
    top: 0;
}

.doneCheck+label{
    width: 32px;
    height: 32px;

}
.doneCheck::after{
    content: " ";
    
    width: 30px;
    height: 30px;
    background-color: inherit;
    opacity: 1;
}
.doneCheck{
    /*width: 1px;*/
    height: 1px
}
.doneCheck:not(checked)+ label{
    opacity: 0;
}
.doneCheck:checked+ label{
    opacity: 1;
}
.doneCheck:checked{
    opacity: 0;
}
